# User's implementation files
*.user.c
*.user.h

# Qt project configurations
cclib.config
cclib.includes
cclib.files
cclib.cflags
cclib.cxxflags
cclib.creator
cclib.creator.user

# Generated makefile
makefile
makefile.win

# Compiler outputs
*.o
*.out
*.obj
*.so
*.a
*.lib
*.exe
*.h.gch
cc_proc_macro
cc_config
cc_proc_macro.exe
cc_config.exe
out/

# VIM backups
*~

# IDEA garbage
.idea/
.run/
