# Generated configuration
cfg.h

# User's implementation files
*.user.c
*.user.h

# Qt project configurations
cclib.config
cclib.includes
cclib.files
cclib.cflags
cclib.cxxflags
cclib.creator
cclib.creator.user

# Compiler outputs
*.o
*.out
*.obj
*.so
*.a
*.lib
*.exe
*.h.gch

# IDEA garbage
.idea/
.run/
